* {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

/* Apply styles to the container */
body,
html {
  margin: 0;
  border: 0;
  padding: 0;
}

.image-container {
  position: relative;
  width: 100%;
}

/* CSS for the image */
.Image2 {
  width: 100%;
  display: box;
}

/* CSS for the gradient overlay */
.gradient-overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    275deg,
    #f6f6f6 10%,
    rgba(246, 246, 246, 0) 72%
  ); /* Adjust the gradient as needed */
  z-index: 1; /* Place the overlay above the image */
}

.gradient-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    65.68% 57.58% at 55.17% 53.92%,
    rgba(246, 246, 246, 0) 14%,
    #f6f6f6 60%
  ); /* Adjust the gradient as needed */
  z-index: 1; /* Place the overlay above the image */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* This ensures the container takes up at least the viewport height */
}

/* Style the left and right columns */
.left-column {
  flex: 1; /* Make them equally sized */
  padding: 0px;
  /*     border: 1px solid #ccc; */
}

.right-column {
  flex: 1; /* Make them equally sized */
  padding: 20px;
  /*     border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the content takes the full height of the right column */
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.header1 {
  color: #000;
  font-family: Arial;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 19.125vw;
  margin-bottom: 3vh;
}

.header2 {
  font-style: normal;
  line-height: normal;
  width: 19.125vw;
  margin-bottom: 3vh;
  color: black;
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
}

.input-instruction {
  color: #000;
  font-family: Arial;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 734;
  line-height: normal;
  margin-bottom: 0.25vw;
}

.input-box {
  width: 19.125vw;
  height: 2vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: 2px solid #9fcae6;
  background: #fff;
  margin-bottom: 0.5vw;

  color: #094067;
  font-family: Arial;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-left: 5px;
}

.forgot {
  color: #838383;
  font-family: Inter;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 19.125vw;
  margin-bottom: 0.5vw;
}

.button1 {
  margin-top: 0.5vw;
  width: 9.625vw;
  height: 3.0625vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: none;
  background: #0072bc;

  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button2 {
  margin-top: 2vw;
  width: 9.625vw;
  height: 3.0625vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: none;
  background: #0072bc;

  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

[type="checkbox"]:checked + span:before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
}

/* Style for the input field when it's focused */
input[type="text"]:focus {
  border-color: #006bb4; /* Change the border color on focus */
}

.button-container {
  margin-left: 72vh;
  display: inline-flex;
  flex-direction: row; /* Arrange buttons in a row */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
}

input[type="checkbox"] {
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-radius: 10px;
  outline: 1px #9fcae6 solid;
}

.student-text-checkbox {
  width: 261px;
  left: 45px;
  top: 9px;
  position: absolute;
  color: black;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
}

/* Style its checked state...with a ticked icon */
[type="checkbox"]:checked + span:before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
}

/* Style for the input field when it's focused */
input[type="text"]:focus {
  border-color: #006bb4; /* Change the border color on focus */
}

.SignUp {
  width: 306px;
  text-align: center;
  color: #0d8de0;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;

  cursor: pointer;
  margin-top: 1vw;

  text-decoration: none;
}

.Logo {
  width: 136px;
  height: 155.12px;
  margin-bottom: 20px;
}

select {
  width: 19.8vw;
  height: 2.3vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: 2px solid #9fcae6;
  background: #fff;
  margin-bottom: 0.5vw;

  color: #094067;
  font-family: Arial;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-left: 5px;
}

.Skip {
  width: 306px;
  text-align: center;
  color: #838383;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;

  cursor: pointer;
  margin-top: 1vw;

  text-decoration: none;
}

.plain {
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.logout {
  float: right;
  font-size: 20px;
}

.wrapper {
  border-bottom: 4px #006bb4 solid;
  width: 170vh;
  margin: auto;
  height: 130px;
  margin-bottom: 40px;
}

.menu {
  float: right;
}

li {
  margin-right: 45px;
}

a {
  color: #006bb4;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  background: #ffffff;
}

nav ul {
  height: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  color: #006bb4;
  font-family: Arial;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  float: left;
}

.tsu {
  color: #006bb4;
  font-size: 48px;
  font-family: Arial;
  font-weight: 900;
  word-wrap: break-word;
}

.tsulogo {
  float: left;
  margin-top: 15px;
  width: 40.33px;
  height: 46px;
}

.tsuadmin {
  float: left;
  font-style: italic;
}

.containerlogo {
  text-align: center;
}

.dashboard {
  width: 170vh;
  display: block;
  margin: auto;
  color: rgba(131, 131, 131, 0.63);
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 15px;
  margin-bottom: 20px;
}

.navigateto {
  width: 170vh;
  display: block;
  margin: auto;
  color: #006bb4;
  font-size: 48px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 13px;
}

.managetext {
  width: 170vh;
  display: block;
  margin: auto;
  color: #006bb4;
  font-size: 48px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 73px;
  margin-bottom: 35px;
}
.buttAddFac {
  width: 211px;
  height: 46px;
}
.item1 {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.addfactext {
  color: #006bb4;
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
  word-wrap: break-word;
}
button {
  border: 4px solid;
  border-radius: 10px;
}

.button {
  background-color: #006bb4;
  padding: 10px 20px;
  cursor: pointer;
  width: 512px;
  height: 46px;
  display: block;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  padding-bottom: 40px;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
}

input[type="text"] {
  color: #094067;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
  padding-left: 10px;
  border: 2px solid #9fcae6; /* Add a border */
  border-radius: 10px; /* Add rounded corners */
  font-size: 16px; /* Set the font size */
  outline: none; /* Remove the outline on focus */
  transition: border-color 0.3s; /* Add a smooth transition for border color changes */
}

label input {
  display: none; /* Hide the default checkbox */
}
.hidden {
  display: none;
}
/* Style the artificial checkbox */
label span {
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}

input[type="checkbox"] {
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-radius: 10px;
  outline: 1px #9fcae6 solid;
}

.student-text-checkbox {
  width: 261px;
  left: 45px;
  top: 9px;
  position: absolute;
  color: black;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
}

/* Style its checked state...with a ticked icon */
[type="checkbox"]:checked + span:before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
}

/* Style for the input field when it's focused */
input[type="text"]:focus {
  border-color: #006bb4; /* Change the border color on focus */
}

.button-container {
  margin-left: 72vh;
  display: inline-flex;
  flex-direction: row; /* Arrange buttons in a row */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
}

select {
  color: #094067;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
  padding-left: 10px;

  border: 2px solid #9fcae6; /* Add a border */
  border-radius: 10px; /* Add rounded corners */
  font-size: 16px; /* Set the font size */
  outline: none; /* Remove the outline on focus */
  transition: border-color 0.3s; /* Add a smooth transition for border */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/images/Polygon\ 4.png"); /* Use a custom arrow image */
  background-repeat: no-repeat;
  background-position: right center;
  background-position: calc(100% - 20px) center;
}
.buttonsave {
  background-color: #006bb4;
  padding: 10px 20px;
  cursor: pointer;
  width: 225px;
  height: 46px;
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 40px;
  color: white;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
  padding-top: 14px;
}

.buttondelete {
  background-color: #c00000;
  padding: 10px 20px;
  cursor: pointer;
  width: 225px;
  height: 46px;
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 40px;
  color: white;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;
  padding-top: 14px;
}
