* {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

/* Apply styles to the container */
body,
html {
  margin: 0;
  border: 0;
  padding: 0;
}

.image-container {
  position: relative;
  width: 100%;
}

/* CSS for the image */
.Image2 {
  width: 100%;
  display: box;
}

/* CSS for the gradient overlay */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    283deg,
    #f6f6f6 10%,
    rgba(246, 246, 246, 0) 72%
  ); /* Adjust the gradient as needed */
  z-index: 1; /* Place the overlay above the image */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* This ensures the container takes up at least the viewport height */
}

/* Style the left and right columns */
.left-column {
  flex: 1; /* Make them equally sized */
  padding: 0px;
  /*     border: 1px solid #ccc; */
}

.right-column {
  flex: 1; /* Make them equally sized */
  padding: 20px;
  /*     border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the content takes the full height of the right column */
}

.left-align {
  text-align: left;
}

.header1 {
  color: #000;
  font-family: Arial;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 19.125vw;
  margin-bottom: 3vh;
}

.header2 {
  font-style: normal;
  line-height: normal;
  width: 19.125vw;
  margin-bottom: 3vh;
  color: black;
  font-size: 20px;
  font-family: Arial;
  font-weight: 400;
}

.input-instruction {
  color: #000;
  font-family: Arial;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 734;
  line-height: normal;
  margin-bottom: 0.25vw;
}

.input-box {
  width: 19.125vw;
  height: 2vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: 2px solid #9fcae6;
  background: #fff;
  margin-bottom: 0.5vw;

  color: #094067;
  font-family: Arial;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-left: 5px;
}

.forgot {
  color: #838383;
  font-family: Inter;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 19.125vw;
  margin-bottom: 0.5vw;
}

.button1 {
  margin-top: 0.5vw;
  width: 9.625vw;
  height: 3.0625vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: none;
  background: #0072bc;

  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button2 {
  margin-top: 2vw;
  width: 9.625vw;
  height: 3.0625vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: none;
  background: #0072bc;

  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.SignUp {
  width: 306px;
  text-align: center;
  color: #0d8de0;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;

  cursor: pointer;
  margin-top: 1vw;

  text-decoration: none;
}

.Logo {
  width: 136px;
  height: 155.12px;
  margin-bottom: 20px;
}

select {
  width: 19.8vw;
  height: 2.3vw;
  flex-shrink: 0;
  border-radius: 0.625vw;
  border: 2px solid #9fcae6;
  background: #fff;
  margin-bottom: 0.5vw;

  color: #094067;
  font-family: Arial;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-left: 5px;
}

.Skip {
  width: 306px;
  text-align: center;
  color: #838383;
  font-size: 15px;
  font-family: Arial;
  font-weight: 700;
  word-wrap: break-word;

  cursor: pointer;
  margin-top: 1vw;

  text-decoration: none;
}

.plain{
  background-color: transparent;
  text-decoration: none;
  color: white;
}