* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #094067;
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  min-width: max-content;
}

.Desktop1 {
  position: relative;
  background: #f6f6f6;
}

.Image2 {
  width: 1278px;
  height: 1278px;
  left: -500px;
  top: -254px;
  position: absolute;
}

.Rectangle9 {
  width: 778px;
  height: 1024px;
  background: linear-gradient(283deg, #f6f6f6 10%, rgba(246, 246, 246, 0) 72%);
}

.Welcome {
  left: 953px;
  top: 426px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 48px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
}

.Rectangle8 {
  padding: 10px;
  width: 145px;
  height: 25px;
  left: 1029px;
  top: 696px;
  position: absolute;
  background: #0072bc;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
}

/* .LogIn {
  left: 1076px;
  top: 708px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
  cursor: pointer;
} */

.Group1 {
  width: 306px;
  height: 70px;
  left: 953px;
  top: 514px;
  position: absolute;
}

.Rectangle6 {
  width: 306px;
  height: 40px;
  left: 0px;
  top: 21px;
  position: absolute;
  background: white;
  border-radius: 10px;
  border: 2px #9fcae6 solid;
  padding-left: 15px;
}

.UsernameOrEmail {
  left: 0px;
  top: 0px;
  position: absolute;
  color: #d8eefe;
  font-size: 15px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
}

.Group2 {
  width: 306px;
  height: 70px;
  left: 953px;
  top: 596px;
  position: absolute;
}

.Password {
  left: 0px;
  top: 0px;
  position: absolute;
  color: #d8eefe;
  font-size: 15px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: #0d8de0;
}

.SignUp {
  left: 1080px;
  top: 765px;
  position: absolute;
  text-align: center;
  color: #0d8de0;
  font-size: 15px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
  text-decoration: none;
}

.Logo {
  width: 136px;
  height: 155.12px;
  left: 1039px;
  top: 241px;
  position: absolute;
}

.Image3 {
  width: 136px;
  height: 155.12px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.UsernameOrEmail {
  color: black;
  font-size: 15px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
}

.Password {
  color: black;
  font-size: 15px;
  font-family: Arial;
  font-weight: 734;
  word-wrap: break-word;
}

.grid-container {
  display: grid;
  height: 2vh;
  grid-template-columns: auto auto;
}

.grid-item {
  background-color: #0072bc;
}
